@font-face {
  font-family: 'Proxima Nova Black Italic';
  src: url(./Proxima+Nova+Black+Italic.eot);
  src: url(./Proxima+Nova+Black+Italic.eot?#iefix) format('embedded-opentype'),
       url(./Proxima+Nova+Black+Italic.otf) format('otf'),
       url(./Proxima+Nova+Black+Italic.svg#Proxima%20Nova%20Black%20Italic) format('svg'),
       url(./Proxima+Nova+Black+Italic.ttf) format('truetype'),
       url(./Proxima+Nova+Black+Italic.woff) format('woff'),
       url(./Proxima+Nova+Black+Italic.woff2) format('woff2');
}
